@font-face {
  font-family: Bandiens;
  src: url(./assets/bandeins-strange-variable.ttf);
}


body {
    font-family: Bandiens;
    font-size: 80px;
    line-height: 1.5;

    background-color: #000000;
    color: #ffffff;
    margin: 50vh 40px;
    
    
}

h1 {
    position: fixed;
    top: 80px;
    left: 80px;
    
    z-index: 1;
    
    font-variation-settings: "wght" 100, "wdth" 100;
}
    
    
nav {
    position: fixed;
    top: 80px;
    right: 80px;

    z-index: 1;
}

a {
    
    color: #ffffff;
    text-decoration: none;
    
    font-variation-settings: "wght" 100, "wdth" 100;
    
    margin: 0 0 0 30px;
    font-size: 60px;
    transition: font-variation-settings 0.2s;

}

a:hover {

    font-variation-settings: "wght" 900, "wdth" 100;
   
}

img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    position: sticky;
    top: 40px;
}