body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;

	background-color: #f3c043;
	color: #333333;
	
}

canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}